/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.app-container {
  text-align: center;
  width: 100%;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.header {
  color: black;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.render-button {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

#chart-container, #box-plot-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.customerFileBtn{
  width: 50%;
  margin:auto;
}

input[type='file']{
  background-color:transparent;
}

.customerFileBtn input[type='file'] {
  padding:6px 0 0 7px;
  &::-webkit-file-upload-button {
      display: none;
  }
  &::file-selector-button {
      display: none;
  }
}

.customerFileBtn label:hover {
  background-color: #dde0e3;
  cursor: pointer;
}
